.formWrapper {
  padding: 100px 30px 20px 30px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border: 1px solid;
  border-radius: 5px;
  min-height: 200px;
  width: 400px;
  margin: 20px;
  padding: 20px;
}
.buttom {
  margin-top: 20px;
  width: 200px;
  align-self: center;
}
.label {
  display: flex;
  justify-content: flex-start;
}